<div id="charge-info-modal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="subtitle_h3_black">@Resource.AdditionalInformation</h4>
            </div>
            <div class="modal-body" id="charge-info-body">
                @* This will dimically will set via JS *@
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" name="save-btn" title="@Resource.Close" data-dismiss="modal">
                    <i class="fa fa-times fa-fw"></i>&nbsp;@Resource.Close
                </button>
                <button type="button" class="btn btn-default btn-green" name="save-btn" title="@Resource.Save" onclick="ManifestDepartureController.validateAddBoardingInfo()">
                    <i class="fa fa-floppy-o fa-fw"></i>&nbsp;@Resource.Save
                </button>
            </div>
        </div>
    </div>
</div>
